## Import Libraries

In [21]:
import pandas as pd
import numpy as np
import os

In [22]:
#define path
path = r'C:\Users\Administrator\Desktop\DataImmersion'

In [23]:
## Importing  orders_products_combined dataframe

df_orders_products_combined = pd.read_pickle(os.path.join(path,'chapter4','Prepared data', 'orders_products_combined.pkl'))

In [24]:
#Check the shape of the imported dataframe
df_orders_products_combined.shape

(32434489, 11)

In [25]:
df_orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,0.0,False,196,1,0,both
1,2539329,1,1,2,8,0.0,False,14084,2,0,both
2,2539329,1,1,2,8,0.0,False,12427,3,0,both
3,2539329,1,1,2,8,0.0,False,26088,4,0,both
4,2539329,1,1,2,8,0.0,False,26405,5,0,both

In [26]:
# importing product data
df_product= pd.read_csv(os.path.join(path,'chapter4','Prepared data','products_checked.csv'),index_col = False)

In [27]:
df_product.shape

(49672, 6)

In [28]:
df_product.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [29]:
#removing unwanted columns
df_products = df_product.drop(columns = ['Unnamed: 0',])

In [30]:
df_products.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [31]:
#df_products.drop(df_products.index[df_products['prices'] == 99999.0], inplace = True)

In [32]:
df_products['prices'].max()

99999.0

In [33]:
df_orders_products_combined_new = df_orders_products_combined.drop(columns=['_merge'])

In [34]:
df_orders_products_combined_new.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,0.0,False,196,1,0
1,2539329,1,1,2,8,0.0,False,14084,2,0
2,2539329,1,1,2,8,0.0,False,12427,3,0
3,2539329,1,1,2,8,0.0,False,26088,4,0
4,2539329,1,1,2,8,0.0,False,26405,5,0

In [35]:
# merging the files
df_orders_products_merged = df_products.merge(df_orders_products_combined_new, on = 'product_id', indicator = True)

In [36]:
df_orders_products_merged.shape

(32404859, 15)

In [37]:

    df_orders_products_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,False,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,False,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,False,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,0.0,False,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,False,11,1,both

In [38]:
#Confirm the results of the merge using the merge flag.
df_orders_products_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [39]:
df_orders_products_merged['prices'].max()

99999.0

In [40]:
#Export the newly created dataframe as orders_products_merged in a suitable format (taking into consideration the size).
df_orders_products_merged.to_pickle(os.path.join(path, 'chapter4','Prepared data', 'orders_products_merged.pkl'))